@model ProductCatalog.Client.Models.CreateCategoryRequest

<h2>Create Category</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        Please correct the following errors:
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<form asp-controller="Category" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    @Html.AntiForgeryToken()
</form>